/* @import '../index.css'; */

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}

body {
  color: #141c3a;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

a strong {
  color: currentColor;
}

a:hover {
  color: #363636;
}

code {
  background-color: whitesmoke;
  color: #f14668;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
}

hr {
  background-color: whitesmoke;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0;
}

img {
  height: auto;
  max-width: 100%;
}

input[type='checkbox'],
input[type='radio'] {
  vertical-align: baseline;
}

small {
  font-size: 0.875em;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: #363636;
  font-weight: 700;
}

fieldset {
  border: none;
}

pre {
  -webkit-overflow-scrolling: touch;
  background-color: whitesmoke;
  color: #141c3a;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;
}

pre code {
  background-color: transparent;
  color: currentColor;
  font-size: 1em;
  padding: 0;
}

table td,
table th {
  vertical-align: top;
}

table td:not([align]),
table th:not([align]) {
  text-align: left;
}

table th {
  color: #363636;
}

.section.is-long {
  padding-bottom: 14rem;
}

@media screen and (min-width: 769px) {
  .section.is-long {
    padding-bottom: 16rem;
  }
}

@media screen and (min-width: 1216px) {
  .section.is-long {
    padding-bottom: 18rem;
  }
}

.section.is-long-ish {
  padding-bottom: 12rem;
}

@media screen and (min-width: 769px) {
  .section.is-long-ish {
    padding-bottom: 13rem;
  }
}

@media screen and (min-width: 1216px) {
  .section.is-long-ish {
    padding-bottom: 14rem;
  }
}

.section p {
  margin-bottom: 2rem;
}

.section.skills {
  margin-top: -14rem;
  padding-bottom: 1rem;
}

.section.skills .box {
  padding: 0;
}

.section.skills .box .content .columns {
  margin-left: 0;
  margin-right: 0;
}

.section.skills .box .content .columns .column {
  padding: 50px 30px;
  border-bottom: 1px solid #e6ecf8;
  border-right: 0px solid #e6ecf8;
}

@media screen and (min-width: 769px) {
  .section.skills .box .content .columns .column {
    border-bottom: 0px solid #e6ecf8;
    border-right: 1px solid #e6ecf8;
    padding: 60px 35px;
  }
}

@media screen and (min-width: 1216px) {
  .section.skills .box .content .columns .column {
    padding: 70px 45px;
  }
}

.section.skills .box .content .columns .column:last-child {
  border-right: none;
  border-bottom: none;
}

.section.skills .box .content .columns .column figure.image {
  margin: 0 auto 2em;
}

.section.skills .box .content .columns .column figure.image img.is-skill-icon {
  height: 48px;
  width: auto;
}

@media screen and (min-width: 769px) {
  .section.skills .box .content .columns .column p {
    font-size: 18px;
  }
}

.section.skills .box .content .columns .column p.list-title {
  margin-top: 50px;
  margin-bottom: 8px;
}

.section.skills .box .content .columns .column ul {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
}

@media screen and (min-width: 769px) {
  .section.skills .box .content .columns .column ul li {
    font-size: 18px;
  }
}

.section.skills .box .content .columns .column .button.is-primary.is-outlined {
  padding: 1.1em;
  font-weight: 400;
  border-width: 2px;
  margin-top: 2rem;
  font-size: 18px;
}

.projects .button.is-primary.is-outlined.is-medium {
  padding: 1.25em 2em;
  font-weight: 400;
  border-width: 2px;
  margin-top: 2rem;
}

.projects .project-grid {
  padding: 2rem 0 4rem;
}

@media screen and (min-width: 769px) {
  .projects .project-grid {
    padding-top: 4rem;
  }
}

.projects .project-grid figure {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.projects .project-grid figure img.project-thumb {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.projects .project-grid figure figcaption {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0rem 3rem;
  color: #fff;
  z-index: 1;
}

@media screen and (min-width: 769px) {
  .projects .project-grid figure figcaption {
    padding: 0rem 2rem;
  }
}

.projects .project-grid figure figcaption .tags {
  margin: 0 auto 0.6rem;
}

.projects .project-grid figure figcaption .tags span.tag {
  font-weight: 600;
}

.projects .project-grid figure figcaption h1.title {
  color: #fff;
  margin-bottom: 1.8rem;
  font-weight: 500;
}

.projects
  .project-grid
  figure
  figcaption
  a.button.is-primary.is-outlined.is-rounded {
  margin: 0 auto;
  font-size: 18px;
  padding: 1.2rem;
  font-weight: 400;
  border-width: 2px;
  color: white;
}

.projects
  .project-grid
  figure
  figcaption
  a.button.is-primary.is-outlined.is-rounded
  span.icon {
  margin-top: 4px;
  margin-left: 0px;
}

.projects
  .project-grid
  figure
  figcaption
  a.button.is-primary.is-outlined.is-rounded
  span.icon
  svg {
  width: 8px;
}

.projects .project-grid .overlay,
.projects .project-grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.45s ease-in-out;
  transition: 0.45s ease-in-out;
}

.projects .project-grid figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.projects .project-grid figure:hover .overlay,
.projects .project-grid figure:hover figcaption {
  opacity: 1;
}

.section.clients .client-grid {
  padding-top: 3rem;
}

.section.startups {
  margin-top: -13rem;
  padding-bottom: 6rem;
}

@media screen and (min-width: 769px) {
  .section.startups {
    padding-bottom: 9rem;
    margin-top: -14rem;
  }
}

.section.startups .startup-grid {
  margin-bottom: 4rem;
}

@media screen and (min-width: 769px) {
  .section.startups .startup-grid {
    margin-bottom: 6rem;
  }
}

.section.startups .startup-grid .box {
  padding: 40px;
}

@media screen and (min-width: 769px) {
  .section.startups .startup-grid .box {
    padding: 60px 35px;
  }
}

@media screen and (min-width: 1216px) {
  .section.startups .startup-grid .box {
    padding: 60px 35px;
  }
}

.section.startups .startup-grid .box img.logo {
  height: 42px;
  width: auto;
  margin-bottom: 2rem;
}

.section.startups .startup-grid .box p {
  font-size: 16px;
  margin-bottom: 2rem;
}

@media screen and (min-width: 769px) {
  .section.startups .startup-grid .box p {
    font-size: 18px;
  }
}

.section.startups .startup-grid .box a.link {
  font-weight: 400;
  font-size: 18px;
  border: none;
}

.section.testimonials .testimonial-block {
  margin-bottom: 2rem;
}

.section.testimonials .testimonial-block img.avatar {
  margin: 2.5rem auto 2rem;
  max-width: 96px;
  height: auto;
  border-radius: 100px;
}

@media screen and (min-width: 769px) {
  .section.testimonials .testimonial-block img.avatar {
    margin: 4rem auto 2rem;
  }
}

.section.testimonials .testimonial-block p.quote {
  font-size: 20px;
  font-family: 'eurostile', sans-serif;
  font-weight: 300;
  max-width: 700px;
  margin: 0 auto 2.5rem;
}

@media screen and (min-width: 769px) {
  .section.testimonials .testimonial-block p.quote {
    font-size: 25px;
  }
}

.callout .title {
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 769px) {
  .callout .title {
    font-size: 26px;
  }
}

.callout .button.is-primary.is-outlined.is-medium {
  padding: 1.25em 2em;
  font-weight: 400;
  border-width: 2px;
  margin-top: 2rem;
}

.section.call-to-action .title,
.section.call-to-action p {
  color: white;
  margin-bottom: 0;
}

.section.call-to-action .box {
  padding: 3.5rem 2rem;
  margin-top: -9rem;
  background-color: #141c3a;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
}

@media screen and (min-width: 769px) {
  .section.call-to-action .box {
    padding: 3.5rem 1.25rem;
  }
}

@media screen and (min-width: 769px) {
  .section.call-to-action .box p {
    font-size: 18px;
  }
}

.section.call-to-action .box .button.is-outlined.is-rounded.is-medium {
  color: white;
  padding: 1.25em 2em;
  font-weight: 400;
  border-width: 2px;
}

footer.section.is-small {
  padding: 0rem 1.5rem 4rem;
}

@media screen and (min-width: 769px) {
  footer.section.is-small {
    padding: 1rem 1.5rem 4rem;
  }
}

footer .title {
  font-weight: 300;
  font-size: 1.6rem;
  margin: 2rem auto;
  max-width: 300px;
  opacity: 0.7;
}

@media screen and (min-width: 769px) {
  footer .title {
    max-width: 320px;
  }
}

footer .social-icons {
  margin: 0 auto 3rem;
}

@media screen and (min-width: 769px) {
  footer .social-icons {
    margin: 0 auto 3.5rem;
  }
}

footer .social-icons a.button {
  background-color: transparent;
  color: white;
  border-radius: 100%;
  margin: 0 0.2rem;
  height: 47px;
  width: 47px;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 769px) {
  footer .social-icons a.button {
    margin: 0 0.8rem;
  }
}

footer .social-icons a.button.is-medium {
  font-size: 1.05rem;
}

@media screen and (min-width: 769px) {
  footer .social-icons a.button.is-medium {
    font-size: 1.18rem;
  }
}

footer .social-icons a.button .icon.is-small {
  height: 1.4em;
  width: 1.4em;
}

footer .social-icons a.button:hover {
  background: white;
  color: #141c3a;
  border: 2px solid white;
}

footer .copyright {
  opacity: 0.7;
}

footer .copyright .icon {
  margin-top: -1px;
  margin-left: 1px;
}

footer .made-by-bulma {
  opacity: 0.6;
  margin-top: 0.7rem;
}

::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #e6ecf8;
}

::-webkit-scrollbar-thumb {
  background-color: #141c3a;
}

.is-form-page .container {
  padding: 0 20px;
}

.is-form-page .container .avatar {
  width: 84px;
  margin: -50px auto 50px;
  z-index: 10;
}

.is-form-page .container h1.title {
  font-weight: 400;
}

.is-form-page .container form {
  max-width: 640px;
  margin: 32px auto 0;
}

@media screen and (min-width: 769px) {
  .is-form-page .container form {
    margin: 60px auto 0;
  }
}

.is-form-page .container form label.label {
  font-weight: 400;
  font-family: 'eurostile', sans-serif;
  font-size: 1.2rem;
  color: rgba(41, 51, 71, 0.65);
}

.is-form-page .container form input,
.is-form-page .container form textarea,
.is-form-page .container form select {
  border-color: #e6ecf8;
  /* color: #141c3a; */
  box-shadow: none;
  font-weight: 300;
}

.is-form-page .container form input:hover,
.is-form-page .container form textarea:hover,
.is-form-page .container form select:hover {
  border-color: #e6ecf8;
}

.is-form-page .container form input:focus,
.is-form-page .container form textarea:focus,
.is-form-page .container form select:focus {
  box-shadow: none;
}

.is-form-page .container form input.is-large,
.is-form-page .container form textarea.is-large,
.is-form-page .container form select.is-large {
  font-size: 1.4rem;
}

.is-form-page
  .container
  form
  .select:not(.is-multiple):not(.is-loading)::after {
  top: 50%;
  border-color: #7510f7;
}

.is-form-page .container form .select:not(.is-multiple) {
  height: 50.4px;
}

.is-form-page .container form button {
  margin: 20px 0 80px;
  border-width: 2px;
  font-weight: 400;
  height: auto;
}

img.success {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 32px;
}

img.is-bottom.mentor {
  margin: 5rem auto -3px;
  max-width: 500px;
}

.has-border-top {
  border-top: 1px solid #e6ecf8;
}

.section.mentor-style {
  margin-top: -14rem;
  padding-bottom: 1rem;
}

.section.mentor-style .mentor-style-grid .box {
  padding: 0;
}

.section.mentor-style .mentor-style-grid .box .content .columns {
  margin-left: 0;
  margin-right: 0;
}

.section.mentor-style .mentor-style-grid .box .content .columns .column {
  padding: 50px 30px;
  border-right: 0px solid #e6ecf8;
  border-bottom: 1px solid #e6ecf8;
}

.section.mentor-style
  .mentor-style-grid
  .box
  .content
  .columns
  .column:last-child {
  border-bottom: none;
}

@media screen and (min-width: 769px) {
  .section.mentor-style .mentor-style-grid .box .content .columns .column {
    border-right: 1px solid #e6ecf8;
    padding: 60px 35px;
  }
  .section.mentor-style
    .mentor-style-grid
    .box
    .content
    .columns
    .column:nth-child(even) {
    border-right: none;
  }
  .section.mentor-style
    .mentor-style-grid
    .box
    .content
    .columns
    .column:nth-child(3) {
    border-bottom: none;
  }
}

@media screen and (min-width: 1216px) {
  .section.mentor-style .mentor-style-grid .box .content .columns .column {
    padding: 60px;
  }
}

.section.mentor-style .mentor-style-grid .box .content .columns .column .title {
  margin-bottom: 1.5rem;
}

.section.mentor-style .mentor-style-grid .box .content .columns .column p {
  margin: 12px 0 0;
}

@media screen and (min-width: 769px) {
  .section.mentor-style .mentor-style-grid .box .content .columns .column p {
    font-size: 18px;
  }
}

.section.mentees .mentee-map {
  margin: 3rem 0 5rem;
}

.section.mentees .sub-title {
  font-weight: 500;
  font-size: 20px;
}

@media screen and (min-width: 769px) {
  .section.mentees .sub-title {
    font-size: 26px;
  }
}

.section.mentees .company-grid {
  padding-top: 3rem;
}

.section.intro .title {
  padding: 0 30px;
}

@media screen and (min-width: 769px) {
  .section.intro .title {
    padding: 0 0;
  }
}

.section.pricing {
  margin-top: -13rem;
  padding-bottom: 6rem;
}

@media screen and (min-width: 769px) {
  .section.pricing {
    padding-bottom: 9rem;
    margin-top: -14rem;
  }
}

.section.pricing .pricing-grid {
  margin-bottom: 4rem;
}

@media screen and (min-width: 769px) {
  .section.pricing .pricing-grid {
    margin-bottom: 6rem;
  }
}

.section.pricing .pricing-grid .box {
  padding: 40px 30px;
}

@media screen and (min-width: 769px) {
  .section.pricing .pricing-grid .box {
    padding: 60px 35px;
  }
}

@media screen and (min-width: 1216px) {
  .section.pricing .pricing-grid .box {
    padding: 60px 35px;
  }
}

.section.pricing .pricing-grid .box .icon {
  margin: 0 auto 2em;
  height: auto;
}

.section.pricing .pricing-grid .box .title {
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.section.pricing .pricing-grid .box .title.price {
  color: #7510f7;
}

.section.pricing .pricing-grid .box p {
  font-size: 17px;
}

@media screen and (min-width: 769px) {
  .section.pricing .pricing-grid .box p {
    font-size: 18px;
  }
}

.section.pricing .pricing-grid .box p.list-title {
  margin-top: 50px;
  margin-bottom: 8px;
}

.section.pricing .pricing-grid .box ul {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
}

@media screen and (min-width: 769px) {
  .section.pricing .pricing-grid .box ul li {
    font-size: 18px;
  }
}

.section.pricing .pricing-grid .box .button {
  padding: 1.25em 2em;
  font-weight: 400;
  margin-top: 2rem;
  font-size: 18px;
}

.section.benefits .benefits-grid {
  padding: 2rem 0 0rem;
}

@media screen and (min-width: 769px) {
  .section.benefits .benefits-grid {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 769px) {
  .section.benefits .benefits-grid .column {
    padding: 0.75rem 1rem;
  }
  .section.benefits .benefits-grid .column:nth-child(4),
  .section.benefits .benefits-grid .column:nth-child(5) {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .section.benefits .benefits-grid .column:nth-child(3),
  .section.benefits .benefits-grid .column:nth-child(4),
  .section.benefits .benefits-grid .column:nth-child(5) {
    margin-top: 0;
  }
}

.section.benefits .benefits-grid .column p {
  font-size: 17px;
  padding: 0 1.5rem;
}

@media screen and (min-width: 769px) {
  .section.benefits .benefits-grid .column p {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .section.benefits .benefits-grid .column p {
    margin-bottom: 1rem;
  }
}

.section.benefits .benefits-grid .icon {
  margin: 0 auto 1.5em;
  height: auto;
}

input[name='carousel'] {
  display: none;
}

.testimonials-slider {
  position: relative;
}

.carousel-nav {
  margin: 0.25rem 0 3rem;
  text-align: center;
  z-index: 1;
}

@media screen and (min-width: 769px) {
  .carousel-nav {
    margin: 1rem 0 3.5rem;
  }
}

@media screen and (min-width: 1216px) {
  .carousel-nav {
    margin: 1rem 0 0.5rem;
  }
}

.carousel-nav label {
  display: inline-block;
  margin: 0 6px;
  width: 15px;
  height: 15px;
  border: 2px solid #e6ecf8;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.carousel-slides {
  width: 100%;
  overflow: hidden;
}

.carousel-slides .carousel-inner {
  width: 500%;
  -webkit-transition: margin 0.5s;
  transition: margin 0.5s;
}

.carousel-slides .carousel-item {
  float: left;
  width: 20%;
}

#carousel-1:checked ~ .carousel-nav label[for='carousel-1'] {
  background-color: #141c3a;
  border: 2px solid #141c3a;
}

#carousel-2:checked ~ .carousel-nav label[for='carousel-2'] {
  background-color: #141c3a;
  border: 2px solid #141c3a;
}

#carousel-3:checked ~ .carousel-nav label[for='carousel-3'] {
  background-color: #141c3a;
  border: 2px solid #141c3a;
}

#carousel-4:checked ~ .carousel-nav label[for='carousel-4'] {
  background-color: #141c3a;
  border: 2px solid #141c3a;
}

#carousel-5:checked ~ .carousel-nav label[for='carousel-5'] {
  background-color: #141c3a;
  border: 2px solid #141c3a;
}

#carousel-1:checked ~ .carousel-slides .carousel-inner {
  margin-left: 0%;
}

#carousel-2:checked ~ .carousel-slides .carousel-inner {
  margin-left: -100%;
}

#carousel-3:checked ~ .carousel-slides .carousel-inner {
  margin-left: -200%;
}

#carousel-4:checked ~ .carousel-slides .carousel-inner {
  margin-left: -300%;
}

#carousel-5:checked ~ .carousel-slides .carousel-inner {
  margin-left: -400%;
}

.splash a.button.is-outlined.is-rounded.is-medium {
  color: #fff;
  padding: 1.25em 2em;
  font-weight: 400;
  border-width: 2px;
}

.animate-fadeUp {
  -webkit-animation: fadeIn 2s, translate-up 1s;
  animation: fadeIn 2s, translate-up 1s;
}

.animate-fadeDown {
  -webkit-animation: fadeIn 2s, translate-down 0.75s;
  animation: fadeIn 2s, translate-down 0.75s;
}

@-webkit-keyframes "fadeIn" {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes "translate-down" {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes "translate-up" {
  0% {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.grecaptcha-badge {
  display: none;
}

.avatar {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.container .is-narrow {
  max-width: 1200px;
}

.button.cto {
  margin: 0 auto;
}

img {
  object-fit: cover;
}



/*# sourceMappingURL=main.css.map */
